<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Volunteer to express yourself</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Della+Respira&family=Golos+Text:wght@400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vol.css') }}">
</head>
<body>
<article>
    <figure>
       
          
        
        
<a href="/vol" class="btn" id="newButton">New Action</a>

    </figure>
    <section>
        <div></div>
        <div></div><!DOCTYPE html>
        <html lang="en" >
        <head>
          <meta charset="UTF-8">
          <title> Volunteering Card</title>
         
        
        </head>
        <body>
        <!DOCTYPE html>
        <html lang="en" >
        <head>
          <meta charset="UTF-8">
          <title> Informtaion Card</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
        <link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'><link rel="stylesheet" href="./style.css">
        
        </head>
        <body>
        <!-- partial:index.partial.html -->
        <body>
          <div class="absolute top-0 left-0 w-full z-50 h-screen flex justify-center items-center p-4 md:p-6 lg:p-8">
            <div class="max-w-lg bg-gradient-to-b from-white/60 to-white/30 text-[#1c0708] backdrop-blur-[.65em] border-[1px] border-solid border-white border-opacity-10 rounded-2xl shadow-black/50 overflow-hidden shadow-2xl hover:-translate-y-1 hover:shadow-black/75 hover:backdrop-blur-[1em] transition">
              <div class="grid place-items-center grid-cols-6 gap-2">
                <div class="col-span-3 p-8">
                  <h2 class="font-bold text-2xl">
                    ECO-Trail Volunteeer
                  </h2>
                  <div class="tag-lines">
                    <span class="tag">Travel</span> <span class="tag">Hospitality</span> <span class="tag">Maintenance</span>
                  </div>
                  <p class="text-sm text-[#1c0708]/60">
                    Approach with Care <br> and improve your first and one time experience.
                  </p>
                  <div class="panel-heading active" id="headingOne" role="tab">
                    <h4 class="panel-title">
                      <a aria-controls="collapseOne" aria-expanded="true" class="mt-6 py-3 px-5 inline-flex bg-[#e84118] hover:bg-[#c23616] transition-colors text-gray-200 font-bold rounded-full text-sm collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseOne" role="button"> View Instructions</a>
                    </h4>
                  </div>
                </div>
                <div class="col-span-3 -mt-5 -mb-10">
                  <img alt="" class="recipe_img" src="https://assets.codepen.io/4927073/tomato_board2.png">
                </div>
              </div>
              <div aria-labelledby="headingOne" class="panel-collapse collapse" id="collapseOne" role="tabpanel">
                <div class="panel-body">
                  <div class="panel-top">
                    <div class="level-item">
                      <div>
                        <div class="heading">
                          Total Volunteers: 5
                        </div>
                        <div class="heading">
                          Approx time : 2hrs
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ingredients">
                    <h3 class="ingredients">
                      Qualities
                    </h3>
                    <ul class="ingredients">
                      <li>
                        <label><input checked="checked" type="checkbox"> <span>Polite</span></label>
                      </li>
                      <li>
                        <label><input type="checkbox"><span>Genuine interest in the cause</span></label>
                      </li>
                      <li>
                        <label><input type="checkbox"><span>Willingness to commit time and energy</span></label>
                      </li>
                      <li>
                        <label><input type="checkbox"><span>Good Communication Skills</span></label>
                      </li>
                      <li>
                        <label><input type="checkbox"><span>respectful communication</span></label>
                      </li>
                      <li>
                        <label><input type="checkbox"><span>Active listening skills</span></label>
                      </li>
                      <li>
                        <label><input type="checkbox"><span>Teamwork </span></label>
                      </li>
                      <li>
                        <label><input type="checkbox"><span>Collaboration</span></label>
                      </li>
                      <li>
                        <label><input type="checkbox"><span>Open-mindedness</span></label>
                      </li>
                      <li>
                        <label><input type="checkbox"><span>Reliability and Responsibility</span></label>
                      </li>
                      <li>
                        <label><input type="checkbox"><span>Problem-Solving Skills</span></label>
                      </li>
                      <li>
                        <label><input type="checkbox"><span>Empathy and Compassion</span></label>
                      </li>
                    </ul>
                  </div>
                  <div class="directions">
                    <h3 class="directions">
                      Approach :
                    </h3>
                    <ol class="directions">
                      <li>
                        <label><input type="checkbox"> <span>Maintaining enthusiasm and positivity, even during challenges.</span></label>
                      </li>
                      <li>
                        <label><input type="checkbox"> <span>Some roles may require specific skills.</span></label>
                      </li>
                      <li>
                        <label><input type="checkbox"> <span>Genuine care for the people or cause being helped.</span></label>
                      </li>
                      <li>
                        <label><input type="checkbox"> <span>Ability to think critically and offer solutions.</span></label>
                      </li>
                      <li>
                        <label><input type="checkbox"> <span>Willingness to take on different roles.</span></label>
                      </li>
                      <li>
                        <label><input type="checkbox"> <span>Understanding and respecting the needs of otherss.</span></label>
                      </li>
                      <li>
                        <label><input type="checkbox"> <span>Ability to handle unexpected situations.</span></label>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </body>
        <!-- partial -->
          <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/ionicons/7.1.2/esm/ionicons.min.js'></script><script  src="./script.js"></script>
        
        </body>
        </html>
        <!-- partial -->
          
    <script src="{{ url_for('static', filename='vol.js') }}"></script>
        
        </body>
        </html>
        
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </section>
</article>

</body>
</html>
