<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Volunteer to express yourself</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Della+Respira&family=Golos+Text:wght@400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='volunteer.css') }}">
</head>
<body>
<article>
    <figure>
        <figcaption>
            <h1>Volunteer to express yourself</h1>
            <p>
                Volunteering boosts personal growth by building empathy, leadership, and communication skills. It also enhances your resume, provides networking opportunities, and helps explore different career paths. Volunteers gain a sense of purpose while positively impacting communities, making it a fulfilling and rewarding experience.
            </p>
        </figcaption>
        <button>
            <label for="init">
                <span>Expand</span>
                <span>Collapse</span>
            </label>
            <input type="checkbox" name="init" id="init">
        </button>
        
        
<a href="/vol" class="btn" id="newButton">New Action</a>

    </figure>
    <section>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </section>
</article>

</body>
</html>
